.btn-treehouse {
  color: white;
  padding: 16px 36px;
  line-height: 56px;
  border-radius: 50px;
  background: #1ddd88;
  transition: background 0.3s ease;
}

.btn-treehouse:hover {
  color: #1ddd88;
  background: white;
}
